*
{
    margin: 0;
    padding: 0;
    background: transparent;
}
body
{
    background: rgba(165, 42, 42, 0.151);
    height: 100vh;
}
.loginhr
{
    width: 80%;
    background: lightgray;
    display: block;
    margin: auto;
    margin-top: 10px;
    border: 1px solid lightgray;
}

.fp-container
{
    margin-top: 35px;
}
.app-name{
    text-align: center;

}
.app-name h1{
    font-size: 55px;
    color: #C19A6B;
    font-weight: bold;
}
.form-wrapper
{
    width: 90%;
    background: white;
    border-radius: 17px;
    margin: auto;
    display: block;
    height: 400px;

}
.entry
{
    display: block;
    margin: auto;
    margin-top: 30px;
    width: 95%;
    height: 45px;
    border: 1px solid lightgray;
}
.entry:-moz-placeholder
{
    margin-left: 20px;
    padding-left: 20px;
}
::-webkit-input-placeholder 
{
    margin-left: 20px;
    padding-left: 20px;

}
.first-entry
{
    margin-top: 40px;
}
.post
{
    display: block;
    margin: auto;
    margin-top: 30px;
    width: 95%;
    height: 45px;
    border-radius: 5000px;
    border: 1px solid lightgray;
    color: white;
    background-color: #966919;
    font-weight: bold;

}
.amnesia
{
    text-align: center;
    margin-top: 10px;
    font-size: small;
}
.loginForm
{
    background-color: #fff;
    display: grid;
    width: 95%;
    border-radius: 17px;
    margin: auto;
    margin-top: 35px;
    box-shadow: 2px 2px 8px #888888;

    
}
input::placeholder
{
    padding-left: 10px;
    
}
.create
{
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 95%;
    height: 45px;
    border-radius: 5000px;
    border: 1px solid lightgray;
    color: white;
    background-color:  #C19A6B;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    display: grid;

}
#signup-form
{
    display: none;

}
.signup
{
    position: fixed;
    place-content: center;
    background-color: rgba(245, 245, 245, 0.5);
    display: grid;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}
.signup form
{
    background-color: white;
    width: 90vw;
    margin: auto;
    min-height: max-content;
    border-radius: 17px;
    box-shadow: 2px 2px 8px #888888;

}
.signup form label, input
{
    display: block;
}
.head
{
    font-size: xx-large;
    font-weight: bold;
    margin-left: 7px;
    margin-top: 7px;
    display: flex;
    justify-content: space-between;
}
.times
{
    margin-right: 10px;
    cursor: pointer;
}
.support-text
{
    margin-left: 7px;
    color: #888888;
}
.name
{
    display: flex;
    margin: auto;
}
.name-box
{
    width: 45%;
}
.signup form input
{
    border: 1px solid lightgray;
    border-radius: 6px;
    height: 35px;
    margin: auto;
    display: block;
    margin-bottom: 15px;
    background-color: rgba(218, 160, 109, 0.174);
}
.wide
{
    width: 96%;
}
.dob
{
    display: flex;
    justify-content: space-between;
}
.dob select
{
    width: 30%;
    height: 35px;
    margin-top: 5px;
    border: 1px solid lightgray;
}
.dob-left
{
    margin-left: 2%;
}
.dob-right
{
    margin-right: 2%;
}
.signup form label
{
    font-size: smaller;
    margin-left: 2%;
}
.gender
{
    display: flex;
    justify-content: space-between;
}
.checkgender
{
    display: flex;
    width: 30%;
    margin-top: 5px;
    height: 35px;
    border: 1px solid lightgray;
    align-items: center;
}
.gender-label
{
    margin-top: 30px;

}
.gender-value
{
    margin-left: 5px;
}
.notice
{
    margin-top: 20px;
    text-align: center;
    font-size: 10px;
}
.signup-button
{
    border: 1px solid #C19A6B;
    color: #C19A6B;
    height: 40px;
    width: 150px;
    border-radius: 12px;
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 35px;
}
.signup-button:hover
{
    color: white;
    background-color: #C19A6B;
}