*
{
    margin: 0;
    padding: 0;
    background: transparent;
}
body
{
    background: rgba(165, 42, 42, 0.151);
    height: 100vh;
}
.loginhr
{
    width: 80%;
    background: lightgray;
    display: block;
    margin: auto;
    margin-top: 10px;
    border: 1px solid lightgray;
}

.fp-container
{
    margin-top: 35px;
}
.app-name{
    text-align: center;

}
.app-name h1{
    font-size: 55px;
    color: #C19A6B;
    font-weight: bold;
}
.form-wrapper
{
    width: 90%;
    background: white;
    border-radius: 17px;
    margin: auto;
    display: block;
    height: 400px;

}
.entry
{
    display: block;
    margin: auto;
    margin-top: 30px;
    width: 95%;
    height: 45px;
    border: 1px solid lightgray;
}
.entry:-moz-placeholder
{
    margin-left: 20px;
    padding-left: 20px;
}
::-webkit-input-placeholder 
{
    margin-left: 20px;
    padding-left: 20px;

}
.first-entry
{
    margin-top: 40px;
}
.post
{
    display: block;
    margin: auto;
    margin-top: 30px;
    width: 95%;
    height: 45px;
    border-radius: 5000px;
    border: 1px solid lightgray;
    color: white;
    background-color: #966919;
    font-weight: bold;
    display: grid;

}
.amnesia
{
    text-align: center;
    margin-top: 10px;
    font-size: small;
}
.loginForm
{
    background-color: #fff;
    display: grid;
    width: 95%;
    border-radius: 17px;
    margin: auto;
    margin-top: 35px;
    box-shadow: 2px 2px 8px #888888;

    
}
input::placeholder
{
    padding-left: 10px;
    
}
.create
{
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 95%;
    height: 45px;
    border-radius: 5000px;
    border: 1px solid lightgray;
    color: white;
    background-color:  #C19A6B;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    display: grid;

}
#signup-form
{
    display: none;

}
.signup
{
    position: fixed;
    place-content: center;
    background-color: rgba(245, 245, 245, 0.5);
    display: grid;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}
.signup form
{
    background-color: white;
    width: 90vw;
    margin: auto;
    min-height: max-content;
    border-radius: 17px;
    box-shadow: 2px 2px 8px #888888;

}
.signup form label, input
{
    display: block;
}
.head
{
    font-size: xx-large;
    font-weight: bold;
    margin-left: 7px;
    margin-top: 7px;
    display: flex;
    justify-content: space-between;
}
.times
{
    margin-right: 10px;
    cursor: pointer;
}
.support-text
{
    margin-left: 7px;
    color: #888888;
}
.name
{
    display: flex;
    margin: auto;
}
.name-box
{
    width: 45%;
}
.signup form input
{
    border: 1px solid lightgray;
    border-radius: 6px;
    height: 35px;
    margin: auto;
    display: block;
    margin-bottom: 15px;
    background-color: rgba(218, 160, 109, 0.174);
}
.wide
{
    width: 96%;
}
.dob
{
    display: flex;
    justify-content: space-between;
}
.dob select
{
    width: 30%;
    height: 35px;
    margin-top: 5px;
    border: 1px solid lightgray;
}
.dob-left
{
    margin-left: 2%;
}
.dob-right
{
    margin-right: 2%;
}
.signup form label
{
    font-size: smaller;
    margin-left: 2%;
}
.gender
{
    display: flex;
    justify-content: space-between;
}
.checkgender
{
    display: flex;
    width: 30%;
    margin-top: 5px;
    height: 35px;
    border: 1px solid lightgray;
    align-items: center;
}
.gender-label
{
    margin-top: 30px;

}
.gender-value
{
    margin-left: 5px;
}
.notice
{
    margin-top: 20px;
    text-align: center;
    font-size: 10px;
}
.signup-button
{
    border: 1px solid #C19A6B;
    color: #C19A6B;
    height: 40px;
    width: 150px;
    border-radius: 12px;
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 35px;
}
.signup-button:hover
{
    color: white;
    background-color: #C19A6B;
}
.picture-container
{
    width: 100%;
    margin-top: 45px;
}
.profile-pic
{
    display: block;
    width: 100%;
    position: relative;
}
.profile-pic img
{
    width: 190px;
    height: 190px;
    border-radius: 50% ;
    display: block;
    margin: auto;
}
.edit
{
    position: absolute;
    top: 70%;
    left: 60%;
    height: 40px;
    width: 40px;
    border: 1px solid #C19A6B;
    color: #C19A6B;
    border-radius: 50%;
}
.photo-upload
{
    position: fixed;
    place-content: center;
    background-color: rgba(245, 245, 245, 0.5);
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: grid;
}
#drop-here
{
    display: none;

}
.photo-upload form
{
    margin: auto;
    border: 2px dashed #ccc;
    border-radius: 20px;
    width: 480px;
    font-family: sans-serif;
    margin: 100px auto;
    padding: 20px;
}
.upload-close
{
    position: fixed;
    top: 0;
    right: 0;
    cursor: pointer;
    margin-right: 20px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 30px;
    color: #C19A6B;
}
.name-area
{
    text-align: center;
    margin-top: 10px;
}
.full-name
{
    font-size: 35px;
    font-weight: bold;
    color: #C19A6B;
}
.identity
{
    font-family: sans-serif;
    color: #C19A6B;
}
.logout-button
{
    border: 1px solid #C19A6B;
    color: #C19A6B;
    height: 45px;
    width: 20%;
    border-radius: 16px;
    position: absolute;
    top: 95%;
    left: 40%;
}
.hamburger
{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 20px;
    margin-bottom: 30px;
}
.hamburger svg
{
 fill: #C19A6B;  
 cursor: pointer; 
}
.logout-button:hover
{
    background-color: #C19A6B;
    color: white;
}
.side-bar
{
    width: 45vw;
    height: 60vh;
    border-radius: 17px;
    box-shadow:2px 2px 8px #888888 ;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999999;
    background: #fff;
    margin-top: 35px;
    margin-right: 25px;
}
.side-hr
{
    width: 70%;
    display: block;
    margin-bottom: 20px;
    margin: auto;
}
.logout-side-button
{
    border: 1px solid #C19A6B;
    color: #C19A6B;
    height: 45px;
    width: 40%;
    border-radius: 16px;
    position: absolute;
    top: 85%;
    left: 30%;    
}
.logout-side-button:hover
{
    background-color: #C19A6B;
    color: white;   
}
.side-close
{
    margin-bottom: 30px;
    margin-top: 5px;
    margin-right: 10px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
    font-weight: bold;
    color: #C19A6B;
    cursor: pointer;
}
.bar-stuff-one
{
    text-align: center;
    width: 90%;
    display: block;
    margin: auto;
    margin-bottom: 20px;
    height: 35px;
    border-radius: 7px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.bar-stuff-one:hover
{
    background-color:  rgba(218, 160, 109, 0.174);
    color: #C19A6B;    
}
.bar-stuff
{
    text-align: center;
    
    width: 90%;
    display: block;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    height: 35px;
    border-radius: 7px;
}
.bar-stuff:hover
{
    background-color:  rgba(218, 160, 109, 0.174);
    color: #C19A6B;
}
.nav-links
{
    text-decoration: none;
    color: #C19A6B;
    width: 100%;
}
#sidebar
{
    display: none;
}

/*
E-commerce page styles
*/

.navigation
{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.logo-img
{
    height: 24px;
    width: 24px;
    border-radius: 50%;
}
.toggler
{
    margin-left: 10px;
    margin-top: 15px;
}
.nav-name
{
    font-weight: 130px;
    font-family: sans-serif;
}
.logo
{
    display: flex;
}
.cart
{
    margin-right: 10px;
    margin-left: 20px;
}
.search
{
    display: grid;
    margin: auto;
    width: 95%;
    height: 30px;
}
.textbox
{   
    align-items: center;
    margin: auto;
    border: 1px solid #888888;
    border-radius: 500px;
}
.textbox input
{
    background: none;
    border: none;
    outline: none;
    width: 100%;
}
.textbox svg
{
    fill: #888888;
    margin-left: 10px;
    margin-right: 10px;
}
.shipment
{
    text-align: center;
    background-color: #966919;
    color: #fff;
    margin-top: 10px;
    height: 28px;
}
.ad
{
 height: 150px;   
 width: 100vw;
 display: flex;
 overflow-x: auto;
}
.ad img
{
    width: 250px;
    height: 120px;
    margin: 10px 5px;
}
.tiles
{

}